<?xml version="1.0" encoding="utf-8"?>
<!--
Esse arquivo é usado pelo processo de publicação/pacote do seu projeto Web. É possível personalizar o comportamento deste processo
ao editar este arquivo MSBuild. Para saber mais sobre isso, visite https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/d9850400-b4dc-41bf-84ba-16613cce4845/resourcegroups/BankSimulation20190529095754ResourceGroup/providers/Microsoft.Web/sites/BankSimulationTeste1</ResourceId>
    <ResourceGroup>BankSimulation20190529095754ResourceGroup</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://banksimulationteste1.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>banksimulationteste1.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>BankSimulationTeste1</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <InstallAspNetCoreSiteExtension>False</InstallAspNetCoreSiteExtension>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$BankSimulationTeste1</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="TesteItauDB" Order="1" Enabled="True">
          <Destination Path="Data Source=tcp:banksimulationtestedbserver.database.windows.net,1433;Initial Catalog=BankSimulationTeste1_db;User ID=daniel3323@banksimulationtestedbserver;Password=d11a0898A!" Name="Data Source=tcp:banksimulationtestedbserver.database.windows.net,1433;Initial Catalog=BankSimulationTeste1_db;User Id=daniel3323@banksimulationtestedbserver;Password=d11a0898A!" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="TesteITAU.DbContexto, TesteITAU" MigrationConfiguration="TesteITAU.Migrations.Configuration, TesteITAU" Origin="Convention" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="ConnectionString" Order="2" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=ItauDB;Integrated Security=true" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\ConnectionString_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=ItauDB;Integrated Security=true" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)ConnectionString-Web.config Connection String" />
    <MSDeployParameterValue Include="TesteItauDB-Web.config Connection String">
      <ParameterValue>Data Source=tcp:banksimulationtestedbserver.database.windows.net,1433;Initial Catalog=BankSimulationTeste1_db;User Id=daniel3323@banksimulationtestedbserver;Password=d11a0898A!</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
  <ItemGroup>
    <_ConnectionStringsToInsert Include="TesteItauDB" />
  </ItemGroup>
</Project>