@model TesteITAU.Models.Lancamento

@{
    ViewBag.Title = "Depósito";
}

<h2>Depósito</h2>

@using (Html.BeginForm("Depositar", "Lancamento", FormMethod.Post)) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">

        <br />
        <br />

        <div class="form-group">
            <div class="col-md-12">
                @Html.EditorFor(lancamento => lancamento.Valor, new { htmlAttributes = new { @class = "form-control", @placeholder = "Insira o valor do Depósito" } })
                @Html.ValidationMessageFor(lancamento => lancamento.Valor, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-12">
                <input type="submit" value="Confirmar" class="btn btn-success" />
            </div>
        </div>
    </div>
}
